body {
  /* Important for positioning the span element */
  position: relative;

  /* Cosmetic/demonstrative */
  border: 2px solid red;
  height: 100%;
  text-align: center;
  color: red;
  font-size: 32px;
  font-family: Roboto,sans-serif;
  margin: 0 auto;
}

body p {
  /* Vertically and horizontally center the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  /*
    Text will appear above canvas as long as its
    z-index > canvas' z-index
  */
  z-index: 2;

}

body canvas {
  /* this will make the canvas appear behind the text */
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
